[launch_parameters]
"chatbot_model" = "chatbot_model_name"
"analyzer_model" = "analyzer_model_name"
"evaluator_model" = "evaluator_model_name"
"provocator_model" = "provocator_model_name"
"use_evaluator" = true
"use_provocator" = false

[api_bases]
"first_model_name" = "first_model_api_base"
"second_model_name" = "second_model_api_base"

[api_keys]
"first_model_name" = "first_model_api_key"
"second_model_name" = "second_model_api_key"
